{block content}
<section id="latte-add-tag-page" class="w-100">
<div class="container d-flex">
  <div class="card m-5 w-50 mx-auto">
   <div class="card-header">
      <h4 class="card-title">Přidat Kategorii</h4>
    </div>
    <div class="card-body">
      {control addTagForm}
    </div>
  </div>
</div>
</section>
