{block errorBox}
<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">
{$flash->message}
</div>
{/block}
{block adminContent}
<section id="latte-add-tag-page" class="wh-100 pos-r">
<div class="container">
  <div class="card mt-4">
   <div class="card-header">
      <h4 class="card-title">Přidat Kategorii</h4>
    </div>
    <div class="card-body">
      {control addTagForm}
    </div>
  </div>
</div>
{include footer}
</section>
{/block}