{block content}
<section id="latte-create" class="pos-r">
<div class="card w-75 mx-auto my-3">
        <div class="card-header">
          <h4 class="card-title">Nová Stránka</h4>
        </div>
        <div class="card-body">
          {control pageForm}
        </div>
    </div>
</div>
</section>