{block errorBox}
{/block}
{block adminContent}
<section id="latte-create-tag" class="w-100">
<div class="container">
  <div class="card mt-5 w-75 mx-auto">
    <div class="card-header">
      <h4 class="card-title">Přidat Kategorii</h4>
    </div>
    <div class="card-body">
      {control controlTagForm}
    </div>
  </div>
</div>
{import footer.latte}
{include footer}
</section>

{/block}