
{block content}
{block errorBox}
<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">
{$flash->message}
</div>
{/block}
<section id="latte-create-tag" class="w-100 pos-r">
<div class="container">
  <div class="card mt-5 w-75 mx-auto">
    <div class="card-header">
      <h4 class="card-title">Přidat Kategorii</h4>
    </div>
    <div class="card-body">
      {control controlTagForm}
    </div>
  </div>
</div>
{import footer.latte}
{include footer}
</section>
{/block}