{block errorBox}
<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">
{$flash->message}
</div>
{/block}
{block adminContent}
<div class="container">

<div class="card my-3">
<div class="card-header" style="position:relative;">
<h4 class="card-title">Editace kategorie</h4>
<a n:href="delete!" class="trash-tag"><i class="fa fa-trash"></i></a>
</div>
<div class="card-body">
{control controlTagForm}
</div>
</div>
</div>

{/block}