{block content}
<section id="latte-registerr">
<div class="container">
<div class="row">
<div class="col-md-6 offset-md-3">
  <div class="card mx-auto mt-4">
    <div class="card-header text-center">
      <h4 class="card-title">Registrace</h4>
    </div>
    <div class="card-body">
    {control registerForm}
    
    
    </div>
    <div class="card-footer text-center">
    <a n:href="Sign:in">Přihlásit</a>
    </div>
  </div>
</div>
</div>

</section>
</div>
{/block}